*~
*.log
*.pid
*.bin
*.db
*.geany
node_modules/
autom4te.cache/
public/
data/
log/
run/
Makefile
config.status
m5app
m5pwd
builder
server/config/config.go
server/bundle/public.go
server/login/config/config.go
m5app.yml




